@model IEnumerable<CodePound.Demos.SpaWithSignalR.Models.Message>

@{
    ViewBag.Title = "SPA Chat";
}

<div class="row" ng-app="messageApp" ng-controller="messageController">
    <div class="col-md-6">
        <div class="form-group">
            <label for="name">Name:</label>
            <input id="name" type="text" value="" placeholder="Enter name" class="form-control" ng-model="message.Name" />
        </div>
        <div class="form-group">
            <label for="message">Message:</label>
            <input id="message" type="text" value="" placeholder="Enter message" class="form-control" ng-model="message.Post" />
        </div>
        <button class="btn btn-default" ng-click="send(message)">Send</button>
    </div>
    <div class="col-md-6 board">
        @if (Model.Count() > 0)
        {
            foreach (var message in Model)
            {
                <p>@string.Format("{0}: {1}", message.Name, message.Post)</p>
            }
        }
        else
        {
            <p class="message"></p>
        }
    </div>
</div>
